<div  class="flex-container">
<div id="main" style="width: 70%;" class="main">
    <h1 style="text-align: center;">Dr. Norman Borlaug</h1>
    <p style="text-align: center;">The man who saved a billion lives</p>
  <hr style="color: black; border: 1px solid black; width: 100%;">
  <div id="img-div" class="container-fluid">
        <img src="../assets/image3.jpg" style="width: 100%; max-width:100% ;height:auto" class="img-fluid p-4" alt="Responsive image" id="image">
        <p style="text-align: center; " id="img-caption">Dr. Norman Borlaug, third from the left, trains biologists in Mexico on how to increase wheat yields - part of his life-long war on hunger.</p>
  </div>
  <div id="tribute-info" style="width:50%" class="col-lg-12 col-sm-12 col-md-12">
    <h3 style="text-align: center;padding: 10px;">Here's a time line of Dr. Borlaug's life:</h3>
    <ul>
      <li>
        <p><b>1914</b> - Born in Cresco, Iowa</p>
      </li>
      <li>
        <p><b>1933</b> - Leaves his family's farm to attend the University of Minnesota, thanks to a Depression era program known as the "National Youth Administration"
      </li>
      <li>
        <p><b>1935</b> - Has to stop school and save up more money. Works in the Civilian Conservation Corps, helping starving Americans. "I saw how food changed them", he said. "All of this left scars on me."
        </p>
      </li>
      <li>
        <p><b>1937</b> - Finishes university and takes a job in the US Forestry Service
        </p>
      </li>
      <li>
        <p><b>1938</b> - Marries wife of 69 years Margret Gibson. Gets laid off due to budget cuts. Inspired by Elvin Charles Stakman, he returns to school study under Stakman, who teaches him about breeding pest-resistent plants.</p>
      </li>
      <li>
        <p><b>1941</b> - Tries to enroll in the military after the Pearl Harbor attack, but is rejected. Instead, the military asked his lab to work on waterproof glue, DDT to control malaria, disinfectants, and other applied science.</p>
      </li>    
      <li>
        <p><b>1942</b> - Receives a Ph.D. in Genetics and Plant Pathology
      </p>
      </li>
    </ul>
    <a href="https://en.wikipedia.org/wiki/Norman_Borlaug" target="_blank" class="py-4" style="color: white;" id="tribute-link">Learn More</a>
  </div>
</div>
</div>